<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <header class="header">
        <div class="header__logo" text-align: center>  Ecommerce </div>
    </header>
<form>
    <br></br>
    <label style="font-size: large;">Enter the user name:</label>
    <input id="textbox" type="text" name="">
    <button type= "button" onclick="getdata()" >Login</button>
</form>
<!-- <ul id="list1">
<% customer_product.forEach(function(customer_product){ %>
    
    <li> <%= customer_product.title %> </li>
<% }) %> -->

<!-- </ul> -->

    <div  class="row boxshadow">
        <div class="col-md-5">
            <div class="cusproducts" id="list1">
            <% customer_product.forEach(function(customer_product){ %>
                <div href="#" class="cusproducts__card">
                    <div class="row boxshadow">
                        <b><%= customer_product.title%></b>
                        <b><%= customer_product.price%></b>

                        
                    </div>

                </div>
    
                
            <% }) %>   
            </div>
        </div>
    </div>


<script>
    document.getElementById("list1").style.display = "none";
    async function getdata() {
    
        var a = document.getElementById("textbox").textContent;
        if (a != null || a == "sofia_peter@gmail.com") {
    
            document.getElementById("list1").style.display = "block";
            
        }
       
    }
    
</script>
</body>    
