<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <header class="header">
        <div class="header__logo" text-align: center>  Ecommerce </div>
    </header>
    <a href="/customer" style="float: right; text-align: right;"> Customer Login</a>
    <!-- <img src="img/login.jpg"> -->
    
<form>
    <br></br>
    <label style="font-size: large;">Enter the Category to promote the products:</label>
    <input id="textbox" type="text" name="">
    <button type= "button" onclick="getdata()" >Search</button>
</form>
<div  class="row boxshadow">
    <ul id="list">
    <% product.forEach(function(product){ %>
    <!-- <li> <%= product.id %> </li> -->
    <b><li> Product: <%= product.title  %> </li></b>
    <b><li> Availability: <%= product.availability %> </li></b>
    <br></br>
    <% }) %>

    </ul>
</div>
<script>
    document.getElementById("list").style.display = "none";
    async function getdata() {
    
        var a = document.getElementById("textbox").textContent;
        if (a != null || a == "notebook") {
    
            document.getElementById("list").style.display = "block";
            
        }
       
    }
    
</script>
</body>    
